.container {
    display: flex;
    flex-direction:column;
    width: 100%;
    margin: 180px auto 0;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  
  .title {
    margin-top: 0;
    text-align: center;
  }
  
  .link {
    text-decoration: none;
    color: #4C4CFF;
  }