
.item {
    position: relative;
	list-style-type: none;
	width: 272px;
    height:208px ;
    
}
.img{
width: 240px;
height: 120px;
}
.price{
    display: flex;
    justify-content: center;

    color: #ffffff;
}
.caption{
    text-align: center;
    color: #ffffff;
}